CUB_200_2011/
codes/logs/
codes/models/
codes/runs/
codes/lowmodels/
codes/KDmodels/
codes/stanford/
codes/stanford_KD/
codes/stanford_low/
codes/history
codes/img_results
stanford/
data/
*.1
*.mat
*.pt
*.ipynb
*.npy
*.tgz
*.pyc
*.sh
*.md
*.log
